<style>
.logo {
  background-image: url(./images/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 80px;
  height: 98px;
  z-index: 0;
}

.mini-logo {
  background-image: url(./images/logo-bell.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  width: 27px;
  height: 32px;
  z-index: 0;
}
</style>

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    ':not(.title-slide)' +
    // add additional classes to exclude here, e.g.
    // ':not(.inverse)' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
      el.innerHTML += '<div class="logo"></div>';
      el.innerHTML += '<div class="mini-logo"></div>';
  });
</script>
